[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
allure-pytest = "*"
pytest-rerunfailures = "*"
pytest = "*"
xlrd = "==1.2.0"
xlwt = "*"

[dev-packages]

[requires]
python_version = "3.6"
